@font-face {
  font-family: "Expo Arabic";
  src: url(EXPO\ ARABIC\ SEMIBOLD.TTF);
}
body
{
  font-family: "Expo Arabic";
  font-weight: 900;
  background-color: rgb(255, 255, 255);
}
section {
  padding:100px 12px 12px 12px;
  
}
p , span {
  color: #697e79;
  padding: 10px;
}
.navbar-brand img {
  max-height: 42px;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 700;
}
.collapse {
  justify-content: center;
}
.btn-703edb {
  background-color: #703edb;
  color: #ffffff;
  border-radius: 30px;
  padding: 6px 25px 10px;
}
.btn-703edb:hover {
  background-color: #703edb;
  color: #ffffff;
  border-radius: 30px;
  padding: 6px 25px 10px;
}
.big:hover {
  padding: 14px 38px 14px 50px;
}
.dropdown-toggle::after {
  margin: 0 6px;
}
.dropdown {
  position: unset;
}
.dropdown-menu {
  width: 100%;
}
nav {
  border-bottom: solid #f8e9de 1px;
}
nav .container {
  max-width: 100% !important;
}
.landing {
  min-height: calc(100vw * 0.5625);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 10px;
}
.landing .sec2 {
  min-width: 50%;
}

.landing .sec2 img {
  height: auto;
  width: 85%;
  max-width: 576px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 76px;
  margin-top: 10px;
}
.orange {
  color: #fe8d4f;
}
.btn-orange {
  color: #fe8d4f;
  background-color: #fbeae0;
}
.btn-color {
  border-radius: 30px;
  padding: 3px 10px 6px;
  margin: 10px;
  margin-top: 74px;
  display: block;
  width: fit-content;
}
.btn-green {
  color: #42df31;
  background-color: #e3fae1;
}
.text {
  font-size: 50px;
  font-weight: 700;
}
.big {
  padding: 14px 38px 14px 50px;
}
section.d-flex > * {
  flex: 1;
}





.main-card
{
  margin-top: -200px;
}

.cards
{
  Display: grid;
  Grid-template-columns: repeat(6 , 25%);
  text-align: center;
  margin-top: -100px;
  overflow: auto;
  -webkit-scrollbar: none;
  padding-top: 100px;

}

.cards::-webkit-scrollbar{
  display: none;
}

.texts
{
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;


}
.s2
{
  margin-top: -150px;
}


.article-wrapper {
  width: 250px;
  height: 290px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article-wrapper:hover
{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
 /* class tailwind */
  border-radius: 10px;
}


.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
 /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  margin-top: 29px;
}

.project-type {

  font-size: 14.5px;
  width: 100%;

}

.project-hover {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000000;
}
.project-hover svg {
  transform: rotate(180deg);
  color: white;
  width: 30px;

}

.container-project {
  width: 13%;
  height: 70px;
  margin-top: -7px;
  margin-right: -8px;
  padding-top: 50px;


}
.container-project img 
{
  width: 100px;
  border-radius: 100%;
  margin-top: -41px;
}
.container-project2 img 
{
  width: 170px;
  border-radius: 100%;
  padding-top: 5px;

}






section.d-flex .sec1 {
  position: relative;
  aspect-ratio: 1/1;
}
section.d-flex .sec1 img {
  position: absolute;
  max-width: 100%;
  top: 125%;
  right: 100%;
  transform: translate(100%, -125%);
}
section.d-flex .sec1 [src="./assets/img/Pet-care-2x-03-min.png"] {
  width: 50%;
  transform: translate(100%, -140%);
}
.CARE-SERVICES .sec2 [src="./assets/img/lines.svg"],
section.d-flex .sec1 [src="./assets/img/lines.svg"] {
  width: 20%;
  transform: translate(100%, -600%) rotatez(180deg) rotatex(180deg);
}
section.d-flex .sec2 {
  padding-right: 44px;
  padding-left: 20px;
}

.icocon2,
.icocon1 {
  display: flex;
}
.icocon2 .ico,
.icocon1 .ico {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3dd;
  border-radius: 50%;
  width: 69.7px;
  height: 65.7px;
}
.icocon1 .ico {
  background-color: #fff3dd;
}
.icocon2 .ico {
  background-color: #ebfff1;
}
.icocon2 .txtcon h2 {
  font-size: 20px;
}
.icocon1 .txtcon h2 {
  font-size: 20px;
}
.bg-purple {
  background-color: #703edb;
  padding: 50px 50px 55px;
  margin-top: 100px;
}
.small-sec {
  display: flex;
  justify-content: space-between;
}
.btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.safe-btn {
  border-radius: 50px;
  padding: 14px 44px;
  color: #703edb;
}
.text-con {
  color: #fff;
}
.text-con p {
  color: #ffffffe3;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
.text-con h1 {
  font-size: 40px;

}

.small-sec .image-con h1 {
  color: white;
  font-size: 23px;
  text-align: center;
  width: 280px;
}
  .small-sec .image-con h1::after
  {
    content: "        ";
    display: block;
    height: 5px;
    background: rgb(255, 255, 255);
    width: 100%;
    margin-top: 20px;
    border-radius: 100%;

  }

.rotate {
  transform: rotatey(180deg);
}
.btn-purp {
  background-color: #eee6ff;
  color: #703edb;
}
.CARE-SERVICES {
  margin: 12px 0;
  display: flex;
}
.CARE-SERVICES > * {
  flex: 1;
}
.main-sec
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
.CARE-SERVICES .sec2 {
  position: relative;
}
.CARE-SERVICES .sec2 img {
  position: absolute;
  top: 125%;
  right: 100%;
}
.CARE-SERVICES .sec2 img[src="./assets/img/Pet-care-2x-04-min.png"] {
  max-width: 90%;
  transform: translate(105%, -132%);
}
.CARE-SERVICES .sec2 img[src="./assets/img/lines.svg"] {
  max-width: 20% !important;
  transform: translate(110%, -490%) rotatez(180deg) rotatex(180deg);
}



.final
{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-radius: 20px;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 7px;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 20px;
}



.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #6f42c1;
  padding: 10px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;

}

.action:hover span {
  transform: translateX(4px);
}

@media (max-width: 768px) {
  .landing .sec2 {
    display: none;
  }
}
@media (max-width: 688px) {
  .CARE-SERVICES .sec2 img,
  section.d-flex .sec1 img {
    max-width: 100%;
    top: 136%;
  }
  .final
  {
    display: flex;
    flex-wrap: wrap;
  }
  .main-sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.cards
{
  display: flex;
  flex-direction: column;
  gap: 76px;
  justify-content: space-around;
  align-items: center;
}
.main-card {
  margin-top: 105px;
}


}
@media (max-width: 992px) {
  section.d-flex {
    flex-direction: column;
    margin-top: -154px;
  }
  section.d-flex .sec1 {
    margin-top: 100px;
  }
  .icocon1,
  .icocon2 {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .btn.small {
    display: none;
  }
  .collapse {
    position: absolute;
    top: 100%;
    background: #fff;
    width: 100%;
    right: 0;
    padding-right: 73px;
    padding-bottom: 10px;
  }
  .CARE-SERVICES {
    flex-direction: column;
  }
  .CARE-SERVICES .sec2 {
    aspect-ratio: 1/1 !important;
  }
  .CARE-SERVICES .sec2 img {
    max-width: 80%;
    max-height: 80%;
    top: 0;
    right: 50%;
    transform: translate(50%, 10%) !important;
  }
  
  .CARE-SERVICES .sec2 img[src="./assets/img/lines.svg"] {
    max-width: 20% !important;
    max-height: 20% !important;
    top: 0;
    right: 50%;
    transform: translate(214%, 15%) !important;
  }
  .small-sec {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}
@media (min-width: 995px) {
  .text-con p
  {
    width: 500px;
  }
}
svg[fill="#6ED85F"] {
  background-color: #c5f9cf;
  border-radius: 50%;
}
